html{
    background-color:#2B3A67;
    color:#FF9B71;
    font-size: 18px;
}
h1{
    height: 5%;
    text-align: center;
    font-weight: bold;
}
h2{
    color: #E84855;
}
#menu-container{
    height: auto;
    width: 30%;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#content{
    padding-top: 16px;
    top: 20%;
    margin: 8px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div div{
    background-color: #282D2D;
    padding: 8px;
}
#content div h2{
    text-align: center;
}

a{
    background-color: #B56B45;
    border: 1px solid #E84855;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
    padding: 8px;
}
a:hover{
    background-color: #FFFD82;
    color: #000000 !important;
    font-weight: bold;
}
a:visited{
    color:#ffffff;
}

th, tr:nth-child(even){
    background-color: #222222;
}
table{
    background-color: #282D2D;
}
th{
    font-weight: bold;
    font-size: 20px;
}

.center{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}
.small-text{
    font-size: 16px;
}