<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="static/main_css.css">
    </head>
    <body>
        <h1>Yiasa Crawler</h1>
        <div id="menu-container">
            <a href="/">Home</a>
            <a href="/threads">Threads</a>
            <a href="/settings">Settings</a>
            <a href="/database">Database</a>
        </div>
        <div id="content">
            <div id="general">
                <h2>General</h2>
                <p><b>Runtime:</b> {{runtime}}</p>
                <p><b>Threads/Spiders:</b> {{threads}}/{{spiders}}</p>
                <p><b>Max urls:</b> {{max_urls}}</p>
                <p><b>Refresh rate:</b> {{refresh}}</p>
                <p><b>Database:</b> {{database}}</p>
                <p><b>Log settings</b></p>
                <p style="text-indent: 2em;" class="small-text"><b>Folder:</b> {{logger.folder}}&emsp;<b>max_size:</b> {{logger.max_size}}&emsp;<b>print_level:</b> {{logger.print_level}}</p>
            </div>
            <div id="filler">
                <h2>Filler</h2>
            </div>
        </div>
    </body>
</html>
