<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="static/main_css.css">
    </head>
    <body>
        <h1>Yiasa Crawler</h1>
        <div id="menu-container">
            <a href="/">Home</a>
            <a href="/threads">threads</a>
            <a href="/settings">Settings</a>
            <a href="/database">Database</a>
        </div>
        <div id="content">
            <div id="general">
                <h2>General</h2>
                <p>Runtime: {{runtime}}</p>
                <p>Threads: {{threads}}</p>
                <p>Max urls: {{max_urls}}</p>
                <p>Refresh rate: {{refresh}}</p>
            </div>
            <div id="filler">
                <h2>Filler</h2>
            </div>
        </div>
    </body>
</html>
