<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="static/main_css.css">
        <style>
            div form{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: baseline;
            }
        </style>
    </head>
    <body>
        <h1>Yiasa Crawler</h1>
        <div id="menu-container">
            <a href="/">Home</a>
            <a href="/settings">Settings</a>
            <a href="#">home</a>
            <a href="#">home</a>
        </div>
        <div id="content">
            <div id="general">
                <h2>General</h2>
                <p>Runtime: {{runtime}}</p>
                <p>Threads: {{threads}}</p>
            </div>
            <div id="threads">
                <h2>Settings</h2>
                <form action="changes" method="post">
                    Threads:<input type="number" name="threads" value="{{threads}}"/>
                    <button>Save</button>
                </form>
            </div>
        </div>
    </body>
</html>